/*
    em: 親要素のフォントサイズ
    ex: 'x'の高さ
    ch: '0'の幅
    rem: ルート要素のフォントサイズ
*/

@font-face {
    font-family: "HackGenNerd";
    src: url(font/HackGenNerd-Regular.ttf);
}

h1 { border-bottom: solid 4px; }
h2 { border-bottom: solid 2px; }
h3 { border-bottom: solid 1px; }
h4 { border-bottom: dashed 1px; margin-bottom: 2ex;}

body {
    background-color: var(--c-first);
    line-height: 1.5;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    /* max-width: fit-content; */
    width: 90%;
}

h1, h2 {
    color: var(--c-primary-text);
}

hr {
    color: var(--c-divider-color);
}

pre, code {
    /* font-weight: bold; */
    font-family: 'HackGenNerd', monospace;
}

pre {
    /* background-color: var(--c-second); */
    /* padding-right: 2em !important; */
    overflow-x: auto;
    line-height: 1.2;
}

code {
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-size: 0.875em;
    background: var(--c-second);
}

quiz {
    color: transparent;
    border: 1px solid black;
    font-size: 0.875em;
    margin-left: 0.5ch;
    margin-right: 0.5ch;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

tag {
    font-size: 0.875em;
    border-width: 2px;
    border-radius: 1ch;
    padding-right: 0.5ch;
    padding-left: 0.5ch;
    border-style: solid;
    border-color: #000000;
    white-space: nowrap;
}
tag > a {
    text-decoration: none;
}

ol {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
    Color scheme
*/
:root {
    --c-first: #f9f9f9;
    --c-second: #ded5c4;
    --c-third: #ef7e56;
    --c-fourth: #305973;
    --c-primary-text: #212121;
    --c-secondary-text: #757575;
    --c-divider-color: #bdbdbd;
    --c-text: #000000;
}

/*
    highlight.js
*/
.hljs-ln {
    margin-bottom: 0;
    /* border: none; */
}

.hljs-ln tr, .hljs-ln td {
    border: none;
}

.hljs-ln-line.hljs-ln-numbers {
    font-family: inherit;
    user-select: none;
    padding-right: 0.5ch;
    width: 2ch;
    min-width: 2ch;
    position: absolute;
    vertical-align: top;
    text-align: right;
    background: #dfdfdf;
}

.hljs-ln-code.hljs-ln-line {
    padding-left: 3.5ch;
    vertical-align: bottom;
}

.hljs {
    padding: 0 2ch 0 0 !important;
    border-width: 1px !important;
    border-color: #000000 !important;
    border-style: solid !important;
}

figcaption + pre {
    margin-top: 0;
}

.code-caption {
    text-align: left;
    margin-left: 16px;
    padding-right: 1ch;
    padding-left: 1ch;
    width: min-content;
}

th, td {
    border: solid 1px;
    padding: 3px 20px;
}
:not(code) > table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
thead {
    background-color: var(--c-second);
}

figcaption {
    width: fit-content !important;
}

blockquote {
    padding-left: 1ch;
    border-style: solid;
    border-width: 0 0 0 0.5ch;
    border-color: var(--c-divider-color);
}

.centered {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bold;
}

.indent {
    margin-left: 2ch;
}

.filled-box {
    background-color: antiquewhite;
}

details {
    padding-left: 2ch;
}

.katex {
    font-size: 1.1em !important;
}

.flex {
	display: flex;
}

.flex-left {
	margin-right: 15px;
}

.flex-right {
	margin-left: 15px
}

.flex46 { display: flex; }
.flex46 > .flex-left { width: 40%; }
.flex46 > .flex-right { width: 60%; }

.flex55 { display: flex;}
.flex55 > .flex-left { width: 50%; }
.flex55 > .flex-right { width: 50%; }

.flex64 { display: flex; }
.flex64 > .flex-left { width: 60%; }
.flex64 > .flex-right { width: 40%; }


.sticky {
	position: sticky;
	top: 15px;
}

img {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

figure {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.tg {
    background-color: aquamarine;
}
